<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.ADFSOrgnizationMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into sys_department
        (
        business_id, name,
        short_name, english_name,
        code, business_unit,
        department_leader, mail, source,
        is_deleted, company_id,
        parent_id, comments,
        create_by, create_time,
        update_by, update_time
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.businessId}, #{item.orgFullName},
            #{item.orgName}, #{item.orgEngName},
            #{item.orgCode}, #{item.bu},
            #{item.orgOwner}, #{item.email},
            #{item.source}, #{item.isDeleted},
            #{item.companyId}, #{item.parentId},
            #{item.comments}, #{item.createBy},
            now(), #{item.updateBy}, now())
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close=";" separator=";" >
            update sys_department
            <set>
                business_id=#{item.businessId}, name=#{item.orgFullName},
                short_name=#{item.orgName}, english_name=#{item.orgEngName},
                code=#{item.orgCode}, business_unit=#{item.bu},
                department_leader=#{item.orgOwner}, mail=#{item.email},
                parent_id=#{item.parentId}, update_time=now()
            </set>
            where business_id = #{item.businessId}
        </foreach>
    </update>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from sys_department where business_id in
        <foreach collection="list" item="item" index="index" open="( " close=" )" separator=",">
            #{item.businessId}
        </foreach>
    </delete>

</mapper>
