<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SyncLogMapper">

    <insert id="insertOne" parameterType="org.macula.cloud.admin.entity.pojo.sync.SyncLog">
        insert into sys_sync_log
        (
        source, comments,
        cron, create_time,
        log_content, need_delete,
        need_update, need_insert,
        response_total, db_total
        )
        values
        (#{source}, #{comments},
        #{cron}, now(),
        #{logContent}, #{needDelete},
        #{needUpdate}, #{needInsert},
        #{responseTotal}, #{dbTotal})
    </insert>


</mapper>
