<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SRMUserMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
        sys_user (
        user_name,full_name,
        sex,code,
        phone, mail,
        source,company_id,
        is_enabled,is_deleted,
        create_by,create_time,
        update_by,update_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userName}, #{item.fullName},
            #{item.sex},#{item.code},
            #{item.phone},#{item.mail},
            #{item.source},#{item.companyId},
            #{item.isEnabled}, #{item.isDeleted},
            #{item.createBy}, now(),
            #{item.updateBy}, now())
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_user
            <set>
                user_name=#{item.userName}, full_name=#{item.fullName},
                sex=#{item.sex},company_id=#{item.companyId},
                phone=#{item.phone}, mail=#{item.mail},
                update_time=now(), update_by=#{item.updateBy}
            </set>
            WHERE user_name = #{item.userName}
        </foreach>
    </update>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from sys_user where user_name in
        <foreach collection="list" item="item" index="index" open="( " close=" )" separator=",">
            #{item.userName}
        </foreach>
    </delete>

</mapper>
