<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SysApplicationMapper">

    <resultMap id="resultVoMap" type="org.macula.cloud.admin.entity.vo.admin.SysApplicationVO">
        <id property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="homePage" column="home_page"/>
        <result property="openId" column="open_id"/>
        <result property="secureKey" column="secure_key"/>
        <result property="isVisible" column="is_visible"/>
        <result property="isThirdparty" column="is_thirdparty"/>
        <result property="privateKey" column="private_key"/>
        <result property="contact" column="contact"/>
        <result property="surpervisor" column="surpervisor"/>
        <result property="isSsin" column="is_ssin"/>
        <result property="isOut" column="is_out"/>
        <result property="allowedAttrs" column="allowed_attrs"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>

        <collection property="functionIds" ofType="java.lang.Long" javaType="java.util.ArrayList">
            <result column="function_ids"/>
        </collection>

        <collection property="applications" ofType="org.macula.cloud.admin.entity.vo.admin.SysApplicationVO"
                    javaType="java.util.ArrayList">
            <result property="id" column="application_id"/>
            <result property="appName" column="application_app_name"/>
            <result property="homePage" column="application_home_page"/>
            <result property="surpervisor" column="application_surpervisor"/>
        </collection>

        <collection property="functions" ofType="org.macula.cloud.admin.entity.vo.admin.FunctionVO"
                    javaType="java.util.ArrayList">
            <result property="id" column="function_id"/>
            <result property="name" column="function_name"/>
            <result property="permissionUrl" column="function_permission_url"/>
            <result property="httpMethod" column="function_http_method"/>
        </collection>
    </resultMap>

    <resultMap id="appAuthorityMap" type="org.macula.cloud.admin.entity.vo.admin.FunctionAuthorityVO">
        <id property="applicationId" column="id"/>

        <collection property="functionIds" ofType="java.lang.Long" javaType="java.util.ArrayList">
            <result column="function_id"/>
        </collection>

        <collection property="innerApplicationIds" ofType="java.lang.Long" javaType="java.util.ArrayList">
            <result column="inner_application_id"/>
        </collection>

        <collection property="outterApplicationIds" ofType="java.lang.Long" javaType="java.util.ArrayList">
            <result column="outter_application_id"/>
        </collection>
    </resultMap>

    <resultMap id="resultVoMap2" type="org.macula.cloud.admin.entity.vo.admin.SysApplicationAuthorityVO">
        <id property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="homePage" column="home_page"/>
        <result property="appKey" column="app_key"/>
        <result property="isVisible" column="is_visible"/>
        <result property="isThirdparty" column="is_thirdparty"/>
        <result property="appSecret" column="app_secret"/>
        <result property="contact" column="contact"/>
        <result property="surpervisor" column="surpervisor"/>
        <result property="isSsin" column="is_ssin"/>
        <result property="isOut" column="is_out"/>
        <result property="allowedAttrs" column="allowed_attrs"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>

        <collection property="functionIds" ofType="java.lang.Long" javaType="java.util.ArrayList">
            <result column="function_id"/>
        </collection>

        <collection property="functions" ofType="org.macula.cloud.admin.entity.vo.admin.FunctionVO"
                    javaType="java.util.ArrayList">
            <result property="id" column="function_id"/>
            <result property="name" column="function_name"/>
            <result property="permissionUrl" column="function_permission_url"/>
            <result property="httpMethod" column="function_http_method"/>
        </collection>
    </resultMap>

    <resultMap id="resultVoMap3" type="org.macula.cloud.sdk.domain.SysApplication">
        <id property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="appKey" column="app_key"/>
        <result property="appSecret" column="app_secret"/>


    </resultMap>

    <resultMap id="resultVoMap4" type="org.macula.cloud.admin.entity.vo.admin.SysApplicationPermissionVO">
        <id property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="appName" column="app_name"/>
        <result property="appKey" column="app_key"/>
        <result property="appSecret" column="app_secret"/>

        <collection property="authorities" ofType="org.macula.cloud.admin.entity.vo.admin.Authority"
                    javaType="java.util.ArrayList">
            <result property="code" column="function_code"/>
            <result property="type" column="function_type"/>
            <result property="name" column="function_name"/>
            <result property="uri" column="function_permission_url"/>
            <result property="method" column="function_http_method"/>
        </collection>
    </resultMap>


    <insert id="addApp2App" parameterType="org.macula.cloud.admin.entity.pojo.admin.SysApplication">
        INSERT INTO sys_application_authority
        (
        application_id,
        authority_application_id,
        create_by,
        create_time,
        update_by,
        update_time
        )
        VALUES
        <foreach collection="applicationIds" item="item" index="index" separator="," close=";">
            (
            #{applicationId},
            #{item},
            null,
            now(),
            null,
            now()
            )
        </foreach>
    </insert>

    <select id="queryById" resultMap="resultVoMap">
        SELECT
        sa.*
        <choose>
            <when test="isThirdparty != null and isThirdparty == 0">
                ,
                sab.id AS function_ids,
                sab.id AS application_id,
                sab.app_name AS application_app_name,
                sab.home_page AS application_home_page,
                sab.surpervisor AS application_surpervisor
            </when>

            <otherwise>
                ,
                sp.id AS function_ids,
                sp.id AS function_id,
                sp.name AS function_name,
                sp.permission_url AS function_permission_url,
                sp.http_method AS function_http_method
            </otherwise>
        </choose>

        FROM sys_application sa

        <choose>
            <when test="isThirdparty != null and isThirdparty == 0">
                LEFT JOIN sys_application_authority saa ON sa.id = saa.application_id
                LEFT JOIN sys_application sab ON sab.id = saa.authority_application_id
            </when>

            <otherwise>
                LEFT JOIN sys_application_permission sap ON sa.id = sap.application_id
                LEFT JOIN sys_permission sp ON sp.id = sap.permission_id
            </otherwise>
        </choose>

        WHERE sa.id = #{id}
    </select>

    <select id="getApplicationAuthority" resultMap="resultVoMap2">
        SELECT
        sa.*,
        saa.app_key,
        saa.app_secret,
        sp.id AS function_id,
        sp.name AS function_name,
        sp.permission_url AS function_permission_url,
        sp.http_method AS function_http_method
        FROM
        sys_application sa
        INNER JOIN sys_application_authority saa ON saa.authority_application_id = sa.id

        <if test="applicationId != null and applicationId != ''">
            AND saa.authority_application_id = #{applicationId}
        </if>

        LEFT JOIN sys_application_permission sap ON sap.application_id = saa.authority_application_id
        LEFT JOIN sys_permission sp ON sp.id = sap.permission_id

        <if test="parentId != null and parentId != ''">
            AND sp.application_id = #{parentId}
        </if>

        WHERE saa.application_id = #{parentId}
    </select>

    <select id="getApplicationUnAuthority"
            resultType="org.macula.cloud.admin.entity.vo.admin.SysApplicationAuthorityVO">
        SELECT
        sa.id,
        sa.app_name
        FROM sys_application sa
        WHERE sa.is_thirdparty = #{isThirdparty} AND sa.id NOT IN
        (
        SELECT authority_application_id FROM sys_application_authority  WHERE application_id = #{applicationId}
        ) AND sa.id != #{applicationId}
    </select>


    <select id="getApplicationAuthorityByAppIdAndAppKey" resultMap="resultVoMap4">
        select
        a.id,
        a.app_id,
        a.app_name,
        aa.app_key,
        aa.app_secret,
        p.code as function_code,
        p.name as funtion_name,
        p.permission_url as function_permission_url,
        p.http_method  as function_http_method,
        p.is_group as function_type
        from sys_application a
        inner join sys_application_authority aa on aa.authority_application_id=a.id
        inner join sys_application_permission ap on ap.application_id=aa.authority_application_id
        inner join sys_permission p on p.id= ap.permission_id
        where a.app_id=#{appId} and aa.app_key=#{appKey}
	</select>

    <select id="getApplicationByAppidAndAppkey" resultMap="resultVoMap3">
        select a.app_id,a.app_name,aa.app_key,aa.app_secret
        from sys_application a
        inner join sys_application_authority aa on aa.authority_application_id=a.id
        where a.app_id=#{appId} and aa.app_key=#{appKey}
    </select>

    <select id="getApplicationByLoginUser" resultType="org.macula.cloud.admin.entity.pojo.admin.SysApplication">
        SELECT
        sa.id,
        sa.app_name,
        sa.app_id
        FROM sys_application sa

        <if test="userId != 1 ">
            INNER JOIN sys_user_role sur ON sur.user_id = #{userId}
            INNER JOIN sys_role_menu srm ON srm.role_id = sur.role_id
            INNER JOIN sys_menu sm ON sm.id = srm.menu_id AND sm.application_id = sa.id
        </if>

        <if test="condition.isVisible != null and condition.isVisible != '' ">
            WHERE sa.is_visible = #{condition.isVisible}
        </if>

        GROUP BY sa.id
    </select>

</mapper>
