<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SysDepartmentMapper">

    <select id="queryByCondition" resultType="org.macula.cloud.admin.entity.vo.admin.DepartmentVO">
        SELECT id, name, short_name, parent_id, business_id FROM sys_department d
        WHERE d.is_deleted = 0
        <if test="department.companyId != null and department.companyId != ''">
            AND d.company_id = #{department.companyId}
        </if>
    </select>

    <select id="queryById" resultType="org.macula.cloud.admin.entity.pojo.admin.SysDepartment">
		SELECT
		id,
		business_id,
		name,
		short_name,
		english_name,
		code,
		business_unit,
		department_leader,
		business_license,
		contact, mail,
		source,
		company_id,
		parent_id,
		comments,
		create_by,
		create_time,
		update_by,
		update_time,
		getParentList(id, 0) AS parent_list_str
		FROM sys_department
		WHERE id = #{id} AND is_deleted = 0
	</select>

    <select id="getChildDepartments" resultType="org.macula.cloud.admin.entity.pojo.admin.SysDepartment">
		select d.* from (
			select business_id as id from sys_department where business_id= #{parentId}
			union
			select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
			union
			select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, (select d.business_id as id from sys_department d, sys_department dd where dd.business_id= #{parentId} and d.parent_id = dd.business_id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id) dd where d.parent_id = dd.id
		)dd,sys_department d where d.business_id=dd.id
	</select>

</mapper>
