<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SysMenuMapper">

    <resultMap id="resultVoMap" type="org.macula.cloud.admin.entity.vo.admin.MenuVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="menuUrl" column="menu_url"/>
        <result property="httpMethod" column="http_method"/>
        <result property="menuType" column="menu_type"/>
        <result property="sortNo" column="sort_no"/>
        <result property="icon" column="icon"/>
        <result property="parentId" column="parent_id"/>
        <result property="effectiveTime" column="effective_time"/>
        <result property="inactiveTime" column="inactive_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isVisible" column="is_visible"/>

        <collection property="application" ofType="org.macula.cloud.admin.entity.pojo.admin.SysApplication">
            <result property="id" column="application_id"/>
            <result property="appName" column="application_name"/>
        </collection>
    </resultMap>

    <select id="queryMenuAll" resultMap="resultVoMap">
        SELECT
        sm.* ,
        sa.id AS application_id,
        sa.app_name AS application_name
        FROM sys_menu sm
        LEFT JOIN sys_application sa ON sa.id = sm.application_id
        WHERE 1=1

        <if test="condition.applicationId != null and condition.applicationId != '' ">
            AND sm.application_id = #{condition.applicationId}
        </if>

        <if test="condition.name != null and condition.name != ''">
            AND sm.name LIKE CONCAT('%', #{condition.name},'%')
        </if>

        ORDER BY sm.sort_no ASC
    </select>

    <select id="queryCountByAppId" resultType="int">
        SELECT count(1) FROM sys_menu m WHERE 1=1
        <if test="applicationId != null">AND m.application_id=#{applicationId}</if>
    </select>

    <select id="getLoginMenusByCondition" resultType="org.macula.cloud.admin.entity.pojo.privilege.Menu">
        SELECT
        DISTINCT sm.*
        FROM sys_menu sm

        <if test=" condition.userId != null and condition.userId != 1">
            INNER JOIN sys_role_menu srm ON srm.menu_id = sm.id
            INNER JOIN sys_user_role sur ON sur.role_id = srm.role_id
            INNER JOIN sys_user su ON su.id = sur.user_id
            AND su.id = #{condition.userId}
            AND su.is_deleted = 0
            AND su.is_enabled = 1
        </if>

        <if test="condition.applicationId != null or condition.appId != null">
            INNER JOIN sys_application sa ON sa.id = sm.application_id

            <if test="condition.applicationId != null ">
                AND sa.id=#{condition.applicationId}
            </if>

            <if test="condition.appId != null ">
                AND sa.app_id=#{condition.appId}
            </if>

        </if>

        WHERE 1=1

        <if test="condition.menuType != null and condition.menuType != ''">
            AND sm.menu_type=#{condition.menuType}
        </if>

        ORDER BY sm.sort_no ASC
    </select>


    <select id="getAuthorityMenusByCondition" resultType="org.macula.cloud.admin.entity.pojo.privilege.Menu">
        SELECT
        DISTINCT sm.*
        FROM sys_menu sm

        <if test="condition.roleId != null and condition.roleId != '' ">
            INNER JOIN sys_role_menu srm ON srm.menu_id = sm.id
            AND srm.role_id = #{condition.roleId}
        </if>

        <if test="condition.applicationId != null or condition.appId != null">
            INNER JOIN sys_application sa ON sa.id = sm.application_id

            <if test="condition.applicationId != null ">
                AND sa.id=#{condition.applicationId}
            </if>

            <if test="condition.appId != null ">
                AND sa.app_id=#{condition.appId}
            </if>

        </if>

        WHERE 1=1

        AND sm.is_visible = 1

        <if test="condition.menuType != null and condition.menuType != ''">
            AND sm.menu_type=#{condition.menuType}
        </if>

        ORDER BY sm.sort_no ASC
    </select>

    <select id="queryById" resultType="org.macula.cloud.admin.entity.pojo.privilege.Menu">
      SELECT sm.*,
      getMenuParentList(sm.id,0) AS parentIdStr
      FROM sys_menu sm
      WHERE sm.id = #{menuId}
	</select>

</mapper>
