<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.macula.cloud.admin.mapper.SysRoleMenuMapper">


    <delete id="deleteMenuByUserId">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}

        <if test=" userId != 1">
            AND menu_id IN (
            SELECT m.id FROM (
            SELECT srm.menu_id AS id FROM sys_user su
            INNER JOIN sys_user_role sur ON sur.user_id = su.id
            INNER JOIN sys_role sr ON sr.id = sur.role_id
            INNER JOIN sys_role_menu srm ON srm.role_id = sr.id
            WHERE su.id = #{userId}
            )m
            )
        </if>

    </delete>

</mapper>
